.carts {
  table {
    border-collapse: collapse;
  }

  td {
    padding: 0.5em;    
  }

  td.quantity {
    white-space: nowrap;
  }

  td.quantity::after {
    content: " ×";
  }

  td.price {
    font-weight: bold;
    text-align: right;
  }

  td.small_button {
    font-size: 10px;
    padding: 0.15em 0.45em;
  }

  tfoot {
    th, td.price {
      font-weight: bold;
      padding-top: 1em;
    }

    th {
      text-align: right;
    }

    td.price {
      border-top: solid thin;
    }
  }

  input[type="submit"] {
    background-color: #881;
    border-radius: 0.354em;
    border: solid thin #441;
    box-shadow: 2px 2px 5px grey;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em; 
    margin: 0.354em; 
    float: left;    
  }

  input[type="submit"]:hover {
    //background-color: #992;
    background-color: #441;
  }  
}
