<% provide(:title, "Update '#{@product.title}'".truncate(9)) %>
<% if notice %>
  <aside id="notice"><%= notice %></aside>
<% end %>

<div class="depot_form">
  <%= render 'form', product: @product %>
</div>

<table>
  <tr> 
    <td><%= link_to 'Show', @product %></td> 
    <td><%= link_to 'Back', products_path %></td>
  </tr>
</table>
